body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #000000;
}

.stopwatch {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#display {
    font-size: 2em;
    margin-bottom: 20px;
}

.controls button {
    font-size: 1em;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#startPauseBtn {
    background-color: #4CAF50;
    color: white;
}

#resetBtn {
    background-color: #f44336;
    color: white;
}

#lapBtn {
    background-color: #008CBA;
    color: white;
}

#laps {
    margin-top: 20px;
}

#laps h3 {
    margin-bottom: 10px;
}

#lapList {
    list-style-type: none;
    padding: 0;
}

#lapList li {
    padding: 5px 0;
    border-bottom: 1px solid #ccc;
}